@import 'tailwindcss';

.nav-base {
  @apply fixed top-0 z-50 w-full
         transition-all duration-500 ease-out;
}

/* BEFORE SCROLL */
.nav-transparent {
  @apply bg-transparent
         shadow-none
         border-b border-transparent;
}

/* AFTER SCROLL */
.nav-scrolled {
  @apply bg-white/75
         backdrop-blur-xl
         shadow-lg shadow-black/5
         border-b border-black/5;
}

.nav-link {
  @apply relative text-gray-700 transition hover:text-blue-600;
}

.nav-link:hover::after {
  @apply w-full;
}

.mobile-link {
  @apply block px-3 py-2 font-medium text-gray-700 transition hover:bg-gray-100 hover:text-blue-600;
}

/* * {
	outline: 1px dashed rgba(255, 0, 0, 0.7);
} */

::-webkit-scrollbar {
	display: none;
}
